<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
    <!-- container for metadata(is not displayed on the page)
    title , styles(css),link,scripts ...
    -->
</head>
<body>
       <b>Welcome to the Sep App. Nik is sleeping</b>

<h1 align="center" style="color:blue" >Sepehr Gift Party</h1>
<h2>Nick Tabakh Jashni</h2>



<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>

</ul>

<a href="https://amazon.com"> Click here to go to amazon web</a>
<br><br>
<table>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Salary</td>
</table>

       <br>
<label> username:</label>
<input type="text" name="username">
       <br>
       <label> Password:</label>
       <input type="password">



<!--       Radio button-->
<br>
<label>Please select your gender:</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other


<!-- Check list-->
<br>
<br>
<br>
<label>Please select the gift you wanna buy for me</label>
<input type="checkbox" name="gift" value="car">Benz
<input type="checkbox" name="gift" value="light">fancy light
<input type="checkbox" name="gift" value="cloths">Hugu Boos Suit
<input type="checkbox" name="gift" value="watch">Rolex


<br>
<br>
<br>
<label>Select your Donation(Do not worry I will take care of it:)</label>
<select>
    <option value="--" > $$$$</option>
    <option value="money" > $1000</option>
    <option value="check" > $2000</option>
    <option value="MoneyOrder" > $20000</option>


</select>
</body>
</html>