<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
    <!-- container for metadata(is not displayed on the page)
    title , styles(css),link,scripts ...
    -->
</head>
<body>
       <b>Welcome to the Sep App. Nik is sleeping</b>

<h1 align="center" style="color:blue" >Nick Tabakh Jashni</h1>
<h2>Nick Tabakh Jashni</h2>
<h3>Nick Tabakh Jashni</h3>
<h4>Nick Tabakh Jashni</h4>
<h5>Nick Tabakh Jashni</h5>
<h6>Nick Tabakh Jashni</h6>


<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>

</ul>

<a href="htpps://amazon.com"> WEB</a>
<br><br>
<table>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Salary</td>
</table>



</body>
</html>